<!-- notes.main.html -->

<hr />

<!--
<div class="wrap">
<div class="canvas">
<div class="horizontal-scroll-container">
-->

<div class="scroll-row">

    <adr-notes-column column=column add="notes.addEmptyColumn(position)" data=notes.data index="{{ $index }}" ng-repeat="column in notes.columns"></column>

</div><!-- .row -->

<hr />

<button ng-click="notes.addColumn('category', 1)">show issues</button>
<button ng-click="notes.addColumn('category', 2)">show offers</button>
<button ng-click="notes.addColumn('category', 3)">show facts</button>
