<!--<div class="note" ng-class="{selected: note.note.selected}" ng-click="note.select()">-->
<div class="note">

	<a href="" class="strike-out" ng-click="note.strikeOut()"><span class="glyphicon glyphicon-remove"></span></a>
	<div class="row">
		
		<div class="col-xs-3">
			<div class="note-party">
				<p>{{ note.party }}</p> 
			</div>
		</div>
	
		<div class="col-xs-9">
			<div class="note-text">
	
				<p ng-class="{strikethrough: note.note.strike}">{{ note.note.text }}</p>
				
				<div class="link-notes">
					
					<a class="" href="" ng-hide="note.note.ux.link_mode" ng-click="note.link()"><span class="glyphicon-link glyphicon"></span> link</a>

					<span ng-show="note.note.ux.link_mode">
						<!-- instruct user to select another note to link -->
					<strong>Select Another Note</strong> <br /> 

						<!-- cancel linking notes -->
						<a href="" ng-click="note.cancelLinking()">cancel</a> | 

						<!-- remove this note from linking --> 
						<a href="" ng-show="note.note.ux.link_mode" ng-click="note.unlink()">unlink</a> | 

						<!-- finish linking notes -->
						<a href="" ng-click="note.finishLinking()">done</a>
					</span>
				</div>

			</div>

		</div>
	</div>

	<!-- end manage linking -->
</div><!-- .note -->
