body {
  padding-top: 70px;
  padding-bottom: 70px;
}
ul.list-inline > li.active > a {
  color: #777;
}
ol.breadcrumb > .active > a {
  color: #777;
}
/* END AFTER I INCLUDED BOOTSTRAP */
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li.menu {
  display: inline;
}
div.wrap {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
div.canvas {
  position: relative;
  margin-right: 0;
  height: 850px;
  padding-bottom: 50px;
}
div.scroll-row {
  margin-left: -15;
  margin-right: -15;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background: lightgray;
}
/* change name since 3 does not make since if I'm going to manually set the width */
div.scroll-col-md-3 {
  width: 30%;
  float: none;
  display: inline-block;
  background: white;
}
div.x-scroll {
  -webkit-box-align: start;
  align-items: flex-start;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  /*margin-bottom: 10px;
	padding-bottom: 10px;*/
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  /*
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    */
}
/*
div.column:first-child {
	margin-left: 10px;
}
*/
div.column {
  position: relative;
  min-width: 270px;
}
div.column-notes {
  /*width: 90%;*/
  height: 665px;
  /*background: white;*/
  position: relative;
  box-sizing: border-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column-reverse;
  -webkit-box-flex: 0;
  /*flex: 0 0 270px;*/
  margin: auto;
  margin-bottom: 10px;
  overflow: auto;
}
div.note {
  min-height: 75px;
}
div.note:hover {
  background: lightyellow;
}
div.note.selected {
  background: lightgreen;
}
div.next-note {
  min-height: 75px;
  background: lightgray;
  order: -1;
}
div.column:hover {
  background: red;
}
.strikethrough {
  text-decoration: line-through;
}
a.selected-party {
  background: black;
  color: white;
}
div.note-editor {
  width: 100%;
  margin: auto;
  min-height: 60px;
}
.note-editor > button {
  position: relative;
  right: 20%;
}
textarea {
  min-width: 100%;
  box-sizing: border-box;
  border: none;
}
/*
textarea:focus {
    outline: none;
    background: yellow;
}
 */
