<!-- app/case.session.notes.html -->

<div class="container clearfix">
	<div class="notes-column">
		<p>one</p>
		<input class="note-input" />
		<button class="note-add">add</button>
	</div>
	<div class="notes-column">
		<p>two</p>
		<input class="note-input" />
		<button class="note-add">add</button>
	</div>
	<div class="notes-column">
		<div class="note" ng-repeat="note in notes.notes">
			<p>{{note}}</p>	
		</div>		

		<div class="note">
			<p>{{notes.current_note}}</p>	
		</div>
		<input class="note-input" ng-model="notes.current_note" />
		<button class="note-add" ng-click="notes.add()">add</button>
	</div>
</div>
