<!-- app/case.session.notes.html -->
<div class="wrap">
	<div class="canvas">
		<div class="horizontal-scroll-container">
			<column column=column data=notes.data ng-repeat="column in notes.columns"></column>
		</div><!-- .horizontal-scroll-container -->
	</div><!-- .canvas -->
</div><!-- .wrap -->
<button ng-click="notes.addColumn('category', 1)">show issues</button>
<button ng-click="notes.addColumn('category', 2)">show offers</button>
<button ng-click="notes.addColumn('category', 3)">show facts</button>
<input placeholder="enter a new link name" ng-model="notes.newLink" />
<select 
	ng-model="notes.selectedLink"
	ng-options="link as link.name for link in notes.data.links track by link.id"
>
</select>
<button ng-click="notes.linkNotes()">link</button>
<!--<p>Window: {{ notes.windowInnerWidth }} X {{ notes.windowInnerHeight }}</p>-->

<hr />
<h4>Developer Info</h4>
<p>Window: {{ notes.windowInnerWidth }} X {{ notes.windowInnerHeight }}</p>

<pre>
<pretty-json json='notes.columns' indent-key='4'></pretty-json>
</pre>

<pre>
<pretty-json json='notes.data' indent-key='4'></pretty-json>
</pre>

<pre>
{{ notes.data }}
</pre>
